.position{
    width: 500px;
    height: 500px;
    background-color: red;
    border-bottom: 1px solid black;
}

.static {
    position: static;
}

.relative {
    position: relative;
    background-color: blue;
    top: 100px;
    left: 50px;
}