* {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --color-252525: #252525;
    --color-101010: #101010;
    --color-FFFFFF: #FFFFFF;
    --color-FCF5EB: #FCF5EB;
    --color-C09578: #C09578;
    --color-626262: #626262;
    --color-EF3636: #EF3636;
}

body {
    background-color: var(--color-252525);
    color: var(--color-FFFFFF);
}

.primary-bg-color {
    background-color: var(--color-252525);

}

.secondary-bg-color {
    background-color: var(--color-C09578);
}

.light-bg-color {
    background-color: var(--color-FCF5EB);
}

.dark-bg-color {
    background-color: var(--color-101010);
}

.primary-color {
    color: var(--color-C09578);
}

.secondary-color {
    color: var(--color-626262);
}

.light-color {
    color: var(--color-FCF5EB);
}

/* navbar */
#navbar .navbar-nav {
    flex-direction: row;
    justify-content: end;
}

#navbar .navbar-nav li {
    margin-left: 1em;
}

#navbar a, 
#navbar button {
    color: var(--color-FFFFFF);
}

#navbar li {
    position: relative;
}

#navbar i {
    font-size: 20px;
}

#navbar span {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-EF3636);
    text-align: center;
}

#bag-item span {
    left: 20px;
}

.navbar-brand {
    color: var(--color-FFFFFF);
    font-weight: 700;
    width: 100%;
    text-align: center;
}
@media(min-width: 768px) {
    .navbar-brand {
        text-align: left;
    }
}

#navbar-items {
    justify-content: space-between;
}
@media(min-width: 768px) {
    #navbar-items {
        display: flex;
        min-width: 80%;
    }
}

#search-form {
    width: 100%;
    margin-top: 2em;
    margin-right: 0;
    margin-bottom: 2em;
    margin-left: 0;
}
@media(min-width: 768px) {
    #search-form {
        width: 50%;
        margin: 0;
    }
}

#search-form {
    border: 2px solid var(--color-626262);
    border-radius: 3px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
}

#search-form input {
    background-color: transparent;
    border: none;
    color: var(--color-FFFFFF);
}

#search-form input::placeholder {
    color: var(--color-FFFFFF);
}

#search-form input:focus {
    box-shadow: none;
}

/* bottom navbar */
#bottom-navbar-container .container {
    justify-content: flex-end;
}

#bottom-navbar-container a {
    font-weight: 600;
    color: var(--color-FFFFFF);
}

.navbar-toggler {
    font-size: 1.5em;
}

/* banners */
#banners-container {
    padding: 0;
}

.carousel-caption {
    bottom: 5em;
    padding: 1em;
    left: 12%;
    right: 12%;
}

.carousel-caption h5 {
    font-size: 1.8em;
}

@media (min-width: 768px) {
    #slider .carousel-item,
    #slider img {
        height: 600px;
    }
    
    .carousel-caption {
        left: 23%;
        right: 23%;
    }
    
    .carousel-caption h5 {
        font-size: 4em;
    }
}

/* mini banners */
#mini-banners {
    margin-top: -3em;
    z-index: 10;
}

#mini-banners .col-12 {
    z-index: 1;
    height: 300px;
    padding: 1.5em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (min-width: 768px) {
    #mini-banners .col-12 {
        max-width: 30%;
    }
}

#mini-banners .col-12 h2 {
    text-transform: uppercase;
    max-width: 50%;
    font-size: 2.2em;
    font-weight: 700;
    line-height: 1em;
}

#mini-banners .col-12 img {
    height: 220px;
    position: absolute;
    right: 1em;
    bottom: 1em;
}

#mini-banners .col-12 a {
    font-weight: bold;
    color: var(--color-FFFFFF);
    font-size: 0.8em;
    text-decoration: none;
    transition: 0.5s;
}

#mini-banners .col-12 a:hover {
    color: var(--color-101010);
}

#mini-banners #mini-banner-1 a:hover,
#mini-banners #mini-banner-3 a:hover {
    color: var(--color-C09578);
}

#mini-banners #mini-banner-3 a {
    color: var(--color-101010);
}

/* best sellers */
#best-sellers {
    padding-top: 4em;
    padding-bottom: 4em;
}

#best-sellers row {
    margin: 0;
}

#best-sellers .col-md-3 {
    padding: 0;
}

.title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.5em;
    margin-bottom: 1em;
    text-align: center;
}
@media (min-width: 768px) {
    .title {
        text-align: left;
    }
}

.card {
    text-align: center;
    border-radius: 0;
}

.card img {
    width: 140px;
    margin-top: 2em;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;
}

.card .card-category {
    font-size: 0.8em;
}

.card .card-title {
    color: var(--color-FFFFFF);
}

.card .card-text {
    margin-top: 2em;
    margin-bottom: 2em;
}

.btn {
    background-color: transparent;
    border-color: var(--color-C09578);
}

.btn:hover {
    background-color: var(--color-C09578);
    border-color: var(--color-C09578);
}

/* bottom banner */
#bottom-banner {
    background-color: var(--color-101010);
    padding: 6em;
    margin-bottom: 4em;
    text-align: center;
}

#bottom-banner .offer-subtitle,
#bottom-banner h2 {
    text-transform: uppercase;
    font-weight: bold;
}
@media (min-width: 768px) {
    #bottom-banner h2 {
        font-size: 6em;
    }
}

#bottom-banner .btn {
    margin: 2em;
    font-weight: bold;
    padding: 1em;
}

#bottom-banner img {
    max-width: 175px;
}

/* new products */
#new-products {
    margin-bottom: 5em;
}

#new-products-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-101010);
}

#new-products-banner h3 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: 2.5em;
}

#new-products .col-md-4 {
    padding: 0;
}

#new-products .card img{
    height: 150px;
    width: 90px;
    margin-top: 2em ;
    margin-right: auto;
    margin-bottom: 2em ;
    margin-left: auto;
}

/* gallery */
#gallery .image-container {
    background-size: cover;
    background-position: center;
    height: 225px;
    border-radius: 3px;
    border: 1px solid var(--color-101010);
    cursor: pointer;
    transition: .5s;
}

#gallery .image-container:hover {
    border-color: var(--color-C09578);
    border-radius: 3px;
}

#insta1 {
    background-image: url('../images/insta1.jpg');
}

#insta2 {
    background-image: url('../images/insta2.jpg');
}

#insta3 {
    background-image: url('../images/insta3.jpg');
}

#insta4 {
    background-image: url('../images/insta4.jpg');
}

#insta5 {
    background-image: url('../images/insta5.jpg');
}

#insta6 {
    background-image: url('../images/insta6.jpg');
}