/* 
    classe = . (dot)
    id = # (hastag)
*/

h1 {
    color: red;
}

p {
    color: blue;
}

h2 {
    color: green;
    text-align: center;
    font-size: 50px;
}

.p-text {
    color: chocolate;
}

#titulo-app {
    color: purple;
}